<!--<pre>{{user|json}}</pre>-->
<section class="container">
    <form class="search" width="100%">
        <input ng-model="searchText" type="search" name="q" placeholder="Search..." autocomplete="off">
        <ul class="search-ac">
            <li ng-repeat="one in allTags | filter:searchText | limitTo:10"><a href="javascript:void(0)"
                                                                               ng-click="searchValueChange(one.name)">{{one.name}}</a></li>
        </ul>
        <button type="submit" ng-click="searching(searchText)" class="btn btn-default">Search</button>
    </form>
</section>
<div id = "popularTags">
    <h style="font-size: 30px">e.g.  </h><a href="javascript:void(0)" ng-click="searching(tag.name)" ng-repeat="tag in popularTags | limitTo:7" style="padding-right: 20px">{{tag.name}}</a>
</div>
<br>
<br>
<!-- /input-group -->
<!-- Trigger the modal with a button -->
<!--<button type="button" class="btn btn-info btn-lg" >Open Modal</button>-->

<div>
<div class="col-xs-6 col-md-3">
    <a href="javascript:void(0)" class="thumbnail" data-toggle="modal" data-target="#myModal">
        <img id="addImg" ng-src="http://cs6.pikabu.ru/post_img/2014/03/04/11/1393956849_944376031.jpg" alt="...">
        <h3 id = "addCap">Add New Image</h3>
    </a>
</div>
<div class="col-xs-6 col-md-3" ng-repeat="source in sources">
    <a href="javascript:void(0)" class="thumbnail">
        <img ng-src="{{source}}" alt="...">
    </a>
</div>
</div>
    <!--<div class="item">-->
        <!--<div class="item-responsive item-16by9">-->
            <!--<div class="content" style="background: url(http://cs6.pikabu.ru/post_img/2014/03/04/11/1393956849_944376031.jpg);"></div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="item" ng-repeat="source in sources">-->
        <!--<div class="item-responsive item-16by9">-->
            <!--<div class="content" ng-style="background: url($$scope.source);"></div>-->
        <!--</div>-->
    <!--</div>-->
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button id = "closeModal" type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Image Form</h4>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <td>add image</td>
                        <td>add info</td>
                    </tr>
                    <tr>
                        <td><lf-ng-md-file-input lf-files="files05" lf-browse-label="Search" lf-remove-label="Delete" lf-drag-and-drop-label="Drag and Drop here!" drag preview></lf-ng-md-file-input></td>
                        <td><form name="imgForm" ng-submit="publish()" method="POST" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="name">Name your media</label>
                                <input type="text"
                                       class="form-control" ng-model="name" id="name">
                            </div>
                            <div class="form-group">
                                <label for="tags">Add tags</label>
                                <div id = "fortags">
                                <br>
                                <tag-manager id="tags" ng-init="tags=[]" ng-model="tags" tags="tags"></tag-manager>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="description">Add description</label>
                                <textarea type="text"
                                          class="form-control" ng-model="description" id="description"></textarea>
                            </div>
                            <!--<div uib-tooltip="asdsad" tooltip-enable="!(name.length>0 &&-->
                             <!--description.length>0 && tags.length>0 && files05.length>0)" style="display:inline-block">-->
                            <button id="publish"  ng-disabled="!(name.length>0 &&
                             description.length>0 && tags.length>0 && files05.length>0)" type="submit" class="btn btn-secondary btn-success"
                                    >
                                Publish
                            </button>
                            <p ng-show="!(name.length>0 &&
                             description.length>0 && tags.length>0 && files05.length>0)" class="help-block">Fill in all the fields</p>

                            <!--</div>-->
                            <!--<div style="height:100px"></div>-->
                            <!--<div uib-tooltip="asdsad" tooltip-enable="disableButton" style="display:inline-block">-->
                                <!--<button ng-disabled="disableButton" ng-style="{'pointer-events':disableButton ? 'none' : ''}">Hover over me!</button>-->
                            <!--</div>-->
                            <!--<br>Check the checkbox to disable the button <input type="checkbox" ng-model="disableButton">-->
                            <!--<div class="alert alert-info margin-top-5" ng-show="!(name.length>0 &&-->
                             <!--description.length>0 && tags.length>0 && files05.length>0)">{{message}}</div>-->
                        </form></td>
                    </tr>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>



